extends layout

block content
  h1 Welcome #{profileData.name}

  form(action="/users/profile/"+profileData._id, method="post")
    
    table
        tr
            td
                label(for=name) Name: 
            td
                input(type="text", name="name" value=profileData.name)

        tr
            td
                label(for=email) Email: 
            td
                input(type="email", name="email" value=profileData.email disabled)  
        
        tr
            td
                label(for=dob) Date of Birth: 
            td
                input(type="date", name="dob")
        
        tr
            td
                label(for=location) Location: 
            td
                input(type="text", name="location" value=profileData.location)
        
        tr
            td
                label(for="phone") Phone
            td
                input(type="tel", name="phone" value=profileData.phone)
        
        tr
            td
                input(type="submit", value="Update")
    