extends layout

block content
  h1= title

  p= message

  form(action="/register", method="post")
    label(for="name") Name 
    input(type="text", name="name", required )
    br
    br
    label(for="email") Email 
    input(type="email", name="email" , required)
    br
    br
    label(for="Password") Password 
    input(type="password", name="password", required)
    br
    br
    label(for="dob") Date of Birth 
    input(type="date", name="dob", required)
    br
    br
    label(for="location") Location 
    input(type="text", name="location", required)
    br
    br
    label(for="phone") Phone:  
    input(type="number", name="phone", required)
    br
    br
    input(type="submit", value="Register")

    