extends layout

block content
  h1 Dashboard

  p= message
  
  table
    tr
      th S. No.
      th Name
      th Email
      th Phone
      th Profile
      th Delete
    
    - for (var i = 0; i < dashData.length; ++i) {
        tr
          td #{i+1}
          td #{dashData[i].name}
          td #{dashData[i].email}
          td #{dashData[i].phone}
          td
            a(href="/users/profile/" + dashData[i]._id) Edit
          td
            a(href="/users/delete/" + dashData[i]._id) Delete
    - }